# Python Basics

# Today's Objectives

- Output & Input
- Variables in Python
- Type COnversions in Python
- Operators in Python
- Condtional Statements

In [1]:
print("Hello World")

Hello World

In [2]:
print("Today's date is", 29)

Today's date is 29

In [3]:
print("Today's date is",29,sep='-')

Today's date is-29

In [4]:
print(1, 2, 3, 4, 5, 6, sep = '\t')

1	2	3	4	5	6

In [5]:
print(1, 2, 3, 4, 5, 6, sep = 'abc')

1abc2abc3abc4abc5abc6

In [6]:
print("Hello World")
print("Hello World")
print("Hello World3")

Hello World
Hello World
Hello World3

In [7]:
print("Hello World", end = '\t')
print("Hello World")
print("Hello World3")

Hello World	Hello World
Hello World3

### Variables

- It is the named memory location which holds some value

### Properties of declaring a variables

- It can contain a-z, A-Z, 0-9, _
- It shouldn't start with a number
- No special characters are allowed except _
- Keywords are not allowed
- Case Sensitive

In [8]:
a = 10
A = 5

In [17]:
a = 55
_a = 2256
# 1a = 66  # not allowed = invalid syntax(declaration)
# a-b = 23+66  # not allowed = can't assign to operator
_ = 625
a9 = 'Python'
a9_ = 'APSSDC'

### Data Types in Python


- Primary Data Types -> int, float,complex, string, boolean
- Secondary Data Types -> Containers -> List, Tuple, Dictionary, Set

In [9]:
a =55
b = 55.66
c = 5+6j
d = True
e = 'a+5/.,;'
f = ['python', 65, 5+6j, 55.665]    # list
g = ('python', 65, 5+6j,55/665) # Tuple    
h = {'Name': 'Python'} # key and value pair
i = {1,2,3,4} # set

In [10]:
print(type(a))

<class 'int'>

In [11]:
a = 55.66

print(type(a))

<class 'float'>

In [16]:
print(type(c), type(i))

<class 'complex'> <class 'set'>

In [17]:
a = input()

123

In [19]:
abc = 555.6

### When ever you are storing anything by taking input from user it will store in form of string

In [20]:
print(type(a))

<class 'str'>

In [22]:
b = input()

1,2,3

In [23]:
print(b, type(b))

1,2,3 <class 'str'>

## Type Conversions

In [24]:
a = int(input())


print(a, type(a))

123
123 <class 'int'>

In [27]:
a = int(input())


print(a, type(a))

235.66

ValueError: invalid literal for int() with base 10: '235.66'

In [29]:
a = float(input())


print(a, type(a))

125.336
125.336 <class 'float'>

### Number System Conversion

- Decimal -> 10 -> 0-9
- Binary -> 0,1
- Octal -> 0-7
- Hexadecimal -> 16 ->0-F

In [31]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [32]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [33]:
print(ord('a'))

97

In [34]:
print(chr(97))

a

### Operators in Python

- Arthmetic Operator  -> +, -, *, /, %, //, **
- Logical -> and, or, not
- Comparison/Relational -> <, >, <=, >=, ==, !=
- Bitwise Operator -> &(and), |(or), ~(Not), ^(XOR), >>(right shift), <<(left shift)
- Assignment Operator -> +=, -=, /=, %=, //=, **=
- Identity Operators -> is, not is
- Membershio Operators -> in, not in

In [39]:
a = 4
b = 10

print(a+b, a-b, a*b, a/b, a%b, a//b, a**2, sep = '->' )

14->-6->40->0.4->4->0->16

### and (inp1*inp2)

|inp1| inp 2|inp 1 and inp2|
|----|-----|-----|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|

### or (inp1+inp2)

|inp1| inp 2|inp 1 and inp2|
|----|-----|-----|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|

### not 

|inp1| inp 2|inp 1 and inp2|
|----|-----|-----|
|F|T|
|T|F|

In [51]:
a = 1
b = 0
c = '0'   # 0 is inside the string so it is considered true in python

print(a and b, a or b, not a, a and c, type(a and c), not c, sep ='->')

0->1->False->0-><class 'str'>->False

In [55]:
print(a and c, c and a, a or c)  # returns variable that is in second variable when first is true or if first value is false then returns false

0 0 5

In [56]:
a = 5
b = 6
c =0
 
print(a and b)
print(a and c, c and a)

6
0 0

In [57]:
a = 5
b = 6
c =0
 
print(a < b, a>b, a==b)

True False False

### Bitwise Operators

```
&, |, ~, ^

a = 4
b = 10


4 ->  0100
10 -> 1010
      _____
      0000 -> 0 -> and 
      1110 -> 14 -> or
      ______    
      
~a
4 -> 0100
     0001
     -0101 -> 5
     
```

In [59]:
a = 4
b = 10

print(a & b , a|b, ~a)

0 14 -5

### XOR

XOR -> A'B + AB'

|inp1| inp 2|inp 1 and inp2|
|----|-----|-----|
|T|T|F|
|T|F|T|
|F|T|T|
|F|F|F|

```
a = 4 ->  0100
b = 10->  1010
        ________
          1110 -> 14
```

In [61]:
print(a ^ b)

14

### Left Shift and Right Shift

a = 4 -> 0100


a << 2 -> 010000 -> 16

a << 2 -> 0001 -> 1 

## left shift place that many 0's on right side and vice-versa

In [62]:
a = 4
print(a<<2, a>>2)

16 1

In [67]:
# assignment operators are short-hand operators in 'C'

a = 5
a = a+10
print(a)
a +=10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

### Membership Operators

In [70]:
a = 'Python'
b = 'Py'
c = 'py'

print(a in b, a in c, a not in c, b in a)

False False True True

### Identity Operators

In [79]:
a = 5
b =5.5
c = 5
d = [1,2,3]
e =[1,2,3]
f = d

In [90]:
print(f)

[1, 2, 3, 'Python']

In [91]:
print(a==c, d==e, d==f)

True False True

In [96]:
print(id(a))
print(id(c))   # function which gives the memory location/address ofdata
print(id(d))
print(id(e))
print(id(f))
## when same value is stored in different variables same location they are stored for primary variables

140729813341120
140729813341120
2218536370888
2218535523144
2218536370888

In [97]:
d.append('Python')

print(d)

[1, 2, 3, 'Python', 'Python', 'Python']

In [98]:
print(f)   #both d and f having same memory location

[1, 2, 3, 'Python', 'Python', 'Python']

In [100]:
print(d,e,f)
print(d is e, d is f, e is f, d is not e)

[1, 2, 3, 'Python', 'Python', 'Python'] [1, 2, 3] [1, 2, 3, 'Python', 'Python', 'Python']
False True False True